#header {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: bold;
  background-image: url(img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#projects {
  background-color: #efefef;
}

#mempelai {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #fff;
}

#about {
  background-color: #efefef;
}

#alamat {
  background-color: #fff;
}

footer {
  background-color: efefef;
}
